body {
  font-family: 'Cormorant SC', serif;
  margin: 0;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
  text-align: center;
}
.org {
  color: #ff8b00;
}
p {
  font-family: 'Poppins', sans-serif;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.mission {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 30px;
}
.topb {
  box-shadow: 10px 10px 40px grey;
  border-left: 7px solid;
  border-image: linear-gradient(rgb(117, 34, 25), rgb(255, 208, 0));
  border-image-slice: 1;
  padding: 30px 60px;
  border-radius: 10px;
}
.mission img {
  width: 70%;
}
.drm {
  background-image: url(images/shapes/p3.png);
  background-repeat: no-repeat;
}

.button {
  font-family: 'Poppins', sans-serif;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: tomato;
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 40px;
  border-radius: 5px;
}
.size {
  padding-left: 100px;
  display: flex;
  margin: 10%;
}
.box1 {
  box-shadow: 10px 10px 30px grey;
  margin: 10% 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.red {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: red;
}
h3 {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.ylw {
  color: rgb(250, 173, 7);
  font-weight: 700;
}
#content1 {
  background-color: rgb(255, 225, 225);
  box-shadow: 5px 5px 20px grey;

  border-image: linear-gradient(rgb(146, 74, 74), rgb(235, 206, 206));
  border-image-slice: 1;
}
#content2 {
  background-color: rgb(247, 239, 202);
  box-shadow: 5px 5px 20px grey;
}
#content3 {
  background-color: rgb(220, 238, 208);
  box-shadow: 5px 5px 20px grey;
}
.p2 {
  padding: 10px 20px;
}
